
<div class="container">
    <p>add-department works!</p>
    <form action="" [formGroup]="addDepartment">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Department Code :</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" name="departmentCode" formControlName="departmentCode">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Department : </label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="department" formControlName="departmentName">
  </div>
  <button type="button" class="btn btn-success" (click)="post()">Submit</button>
  <button type="button" class="btn btn-danger ms-5" (click)="gotoViewdepartment()">Cancel</button>
</form>
</div>